<br>
<%= link_to 'New Content', new_content_path %>
<br>
<h1> All Contents </h1>

<% @contents.each do |content| %>
Title: <%= content.title %>
Description: <%= content.description %>
<%= link_to 'Edit content', edit_content_path(content) %>
<%= link_to 'Show content', content_path(content) %>
<br><br>
  <% end %>

